* {
    box-sizing: border-box;
    
}

body, input, button {
    font-family: arial,sans-serif;
}

body {
    margin: 0;
}

/* Navbar styles */

.navbar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar > ul li {
    padding: 5px;
    font-family: Roboto, RobotoDraft, Arial, sans-serif;
}

.navbar {
    font-size: 13px;
    line-height: 27px;
}

#navbar-text-items, #navbar-icon-items {
    display: flex;
    flex-direction: row;
}

#navbar-icon-items {
    margin-left: 15px;
    margin-right: 10px;
}

.navbar-link {
    text-decoration: none;
    color: inherit;
}

.navbar-link:hover {
    text-decoration: underline;
}

#svg-container {
    width: 40px;
    height: 40px;
    padding: 7px;
}

#svg-container:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}

svg {
    color: #5f6368;
    fill: currentColor;
}


/* Main sections styles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#main-section-logo {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

#main-section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    
}

#searchbar {
    display: flex;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 27px;
    flex-grow: 1;
}







/* Footer styles */

footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
    color: rgba(0,0,0,.54);

}

#footer-container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

footer > p {
    margin: 0;
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
}

.footer-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.footer-list li {
    font-size: 15px;
    margin: 0;
    padding: 0 20px;
}